.card-article-container {
  display: flex;
  text-align: end;
  justify-content: end;
  align-items: center;
  gap: 12px;
  margin: 12px 0;
}

.title,
.author {
  font-size: 2rem;
  font-weight: 300;
}

.descript {
  font-size: 2.4rem;
  font-weight: 700;
  padding-left: 20px;
}

.author {
  padding-top: 8px;
}

