.home-content {
    margin: 60px;
}

main {
    margin: 0 46px;
}

.title-home {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.latest-container h1, .articles-container p {
    font-family: "Lora", serif;
    font-style: italic;
    font-weight: 700;
    margin-bottom: 60px;
}

.latest-container > h1 {
    font-size: 48px;
}

.articles-container > p {
    text-align: end;
    font-size: 36px;
    text-decoration: underline;
}

.articles {
    border-left: 1px solid white ;
}

