<section id="home" class="home-content">
  <main
    id="home-main-content"
    class="row justify-content-center align-items-center g-2"
  >
    <div class="col latest-container">
      <h1>Latest</h1>
      @for (article of articles; track $index) {
      <app-card-latest
        [postId]="article.id"
        [title]="article.title"
        [description]="article.description"
        [author]="article.author"
        [image]="article.image"
      />
      }
    </div>
    <div class="col articles-container">
      <h2 class="subtitle">articles</h2>
      <div class="articles">
        @for (article of articles; track $index) {
        <app-card-article
          [postId]="article.id"
          [title]="article.title"
          [description]="article.description"
          [author]="article.author"
          [image]="article.image"
        />
        }
      </div>
    </div>
    <div id="newsletter-container" class="row newsletter-container">
      <h3>Newsletter</h3>
      <div class="newsletter-card-container">
        @for (article of articles; track $index) {
        <app-card-newsletter
          postId]="article.id"
          [title]="article.title"
          [description]="article.description"
          [image]="article.image"
        />
        }
      </div>
    </div>
  </main>
</section>
