<section id="home" class="home-content">
  <main
    id="home-main-content"
    class="row justify-content-center align-items-center g-2"
  >
    <div class="col latest-container">
      <h1>Latest</h1>
      @for (latest of articles; track $index) { @if(latest.type === "latest") {
      <app-card-latest
        [postNumber]="latest.postNumber"
        [title]="latest.title"
        [description]="latest.description"
        [author]="latest.author"
        [image]="latest.image"
      />
      } }
    </div>
    <div class="col articles-content">
      <h2 class="subtitle">articles</h2>
      <div class="articles-container">
        @for (article of articles; track $index) { @if(article.type ===
        "article") {
        <app-card-article
          [postNumber]="article.postNumber"
          [title]="article.title"
          [description]="article.description"
          [author]="article.author"
          [image]="article.image"
        />
        } }
      </div>
    </div>
    <div id="newsletter-container" class="row newsletter-container">
      <h3>Newsletter</h3>
      <div class="newsletter-card-container">
        @for (newsletter of articles; track $index) { @if(newsletter.type ===
        "newsletter") {
        <app-card-newsletter
          [postNumber]="newsletter.postNumber"
          [title]="newsletter.title"
          [description]="newsletter.description"
          [image]="newsletter.image"
        />
        } }
      </div>
    </div>
  </main>
</section>
