.card-newsletter-container {
    width: 360px;
}

.card-content {
    margin-top: 19px;
}

.title {
    font-size: 24px;
    color: var(--font-color-grey)
}

.descript {
    font-size: 24px;
    font-weight: 800;
}